<sidebar class="main-sidebar">
  <div class="avatar"><img src="{{asset "avatar.png"}}" height="160" /></div>
  <h1>Umair Abid</h1>
  <p class="social-links">
    <a href="https://www.linkedin.com/in/umairabid/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://github.com/umairabid" target="_blank"><i class="fab fa-github-square"></i></a>
    <a href="https://twitter.com/umairabid_" target="_blank"><i class="fab fa-twitter-square"></i></a>
  </p>
  {{navigation}}
</sidebar>
<i class="fa-solid fa-bars mobile-menu"></i>
