{{!< default}}

<div class="homepage">
  <div class="top-nav">
    <div class="logo">
      <img src="assets/logo.svg" />
    </div>
    {{navigation}}
  </div>
  <div class="main-section">
    <div class="inner-content">
      <div class="avatar"><img src="assets/avatar.png" height="240px" /></div>
      <h1>Solution Architect | Polygot Engineer | Always Curious</h1>
      <p>I design and engineer efficient solutions with a love for elegant design and flawless code</p>
      <p class="social-links">
        <a class="link-button" href="https://www.linkedin.com/in/umairabid/" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a>
        <a class="link-button" href="https://github.com/umairabid" target="_blank"><i class="fab fa-github-square"></i> GitHub</a>
      </p>
    </div>
  </div>
</div>
