{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<div class="index-page">
  <sidebar>
    <div class="avatar"><img src="/assets/avatar.png" height="160" /></div>
    <h1>Software Engineer</h1>
    <p class="social-links">
      <a href="https://www.linkedin.com/in/umairabid/" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/umairabid" target="_blank"><i class="fab fa-github-square"></i></a>
    </p>
    {{navigation}}
  </sidebar>
  <section></section>
</div>
